body {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 30px;
  margin-top: 10px;
  padding: 10px;
}

.content {
  text-align: justify;
  background-color: white;
  border-radius: 15px;
}

.header {
}

div {
  margin: 90px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

i {
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 40px;
  position: relative;

  /* Adjust these values accordingly */
  left: 50%;
}

a {
color: currentColor; cursor: pointer; text-decoration: none;
}

a:hover {
  background-color: black;
}

img {
  align-items: center;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 360px;
}

#author {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.0;
}

#phrase {
  text-align: center;
}


html {
  background-color: #5f45bb;
  background-image: linear-gradient(to bottom right, #E74547, #E78947);
  color: black;
  font-size: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
